body {
    font-family: 'Arial', sans-serif;
    background: #f9f9fb;
    font-size: 14px;
}

.wrapper {
    min-width: 380px;
    max-width: 1170px;
    margin: 0 auto;
}

header {
    background: #212429;
    height: 346px;
}

.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 62px;
    height: 55px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    float: left;
}

.c-hamburger:focus {
    outline: none;
}

.c-hamburger span {
    display: block;
    position: absolute;
    top: 25px;
    left: 18px;
    right: 18px;
    height: 3px;
    background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    content: "";
}

.c-hamburger span::before {
    top: -10px;
}

.c-hamburger span::after {
    bottom: -10px;
}


.c-hamburger--rot {
    background-color: #212429;
}

.c-hamburger--rot span {
    transition: background 0s 0.3s;
}

.c-hamburger--rot span::before,
.c-hamburger--rot span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.c-hamburger--rot span::before {
    transition-property: top, transform;
}

.c-hamburger--rot span::after {
    transition-property: bottom, transform;
}

.c-hamburger--rot.is-active {
    background-color: #cb0032;
}

.c-hamburger--rot.is-active span {
    background: none;
}

.c-hamburger--rot.is-active span::before {
    top: 0;
    transform: rotate(45deg);
}

.c-hamburger--rot.is-active span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.c-hamburger--rot.is-active span::before,
.c-hamburger--rot.is-active span::after {
    transition-delay: 0s, 0.3s;
}

.logo {
    padding: 20px 0px 0px 530px;
}

.fa {
    color: #fff;
    padding: 10px 18px 10px 18px;
    border-left: 1px solid #3c3c3c;
    border-right: 1px solid #3c3c3c;
    font-size: 16px;
}

.fa:hover {
    color: #999999;
    cursor: pointer;
}

.social {
    float: right;
    margin-top: -32px;
}
.carousel-inner{
	border: none;
}
.carousel.slide {
    margin-top: -290px;
    border: none;
}

.carousel-indicators {
    margin-bottom: 180px;
    padding-left: 800px;
    display: flex;
    flex-direction: column;
}

.carousel-indicators li {
    border-radius: 0%;
    margin-top: 7px;
}

.carousel-indicators .active {

    margin-top: 5px;
}

.carousel-caption img {
    padding-left: 842px;
    padding-bottom:0px;
}

.carousel-caption p {
	float: left;

}
.carousel-caption h1{
	float: left;
	text-align: left;
	margin-left: -80px;

}
.top {
    padding-top: 80px;
}

.down {
    padding-top: 100px;
}
form{
	background: #f7f7f7;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 103px;
}
form h5{
	margin: 0;
	font-size: 20px;
	color: #212121;
	margin-top: 25px;
	margin-left: 10px;
	text-transform: uppercase;

}
input{
	width: 300px;
	height: 50px;
	border: 1px solid #f3f3f3;
	margin-top: 25px;
	padding: 10px;

}
input[type="text"]{
	margin-left: 40px;
	margin-right: 20px;
}
input[type="email"]{
	margin-right: 20px;
}
input[type="submit"]{
	background: #212121;
	color: #fff;
	border: none;
	text-transform: uppercase;
	width: 250px;
}
.main-left{
	float: left;
	
}
.pint{
	position: absolute;
	margin-left: 749px;
}
.fa.fa-user{
	color: #464646;
	border: none;
}
.fa.fa-calendar{
	color: #464646;
	border: none;
}
.txt{
	width: 800px;
	background: #fff;
	
	border: 1px solid #f5f5f7;
}
.fa.fa-bookmark-o{
	color: #000;
	border: none;
}
.img-box{
	margin-top: 20px;
}
.txt p{
	text-align: center;
	padding: 10px 30px;
}
.first{
	text-align: center;
	font-size: 16px;
	color: #999999;
	text-transform: uppercase;
}
.txt h2{
	text-transform: uppercase;
	color: #212121;
	text-align: center;
	font-size: 28px;
}
.social-box{
	border: 1px solid #f5f5f7;
	font-size: 16px;
	color: #999999;
	display: flex;
	background: #fff;
	text-transform: uppercase;
	width: 800px;

}
.fa.fa-comments-o{
	border: none;
	color: #000;
}
.fa.fa-heart-o{
	border: none;
	color: #000;
}
.second{
	padding-top: 6px;
	margin-left: 30px;
}

.social-box .fa{
	color: #000;
	border: none;

}
.social-box .fa:hover{
	text-decoration: none;
	color: #999999;
}
.third{
	margin-left: 30px;
}
.slick{
	width: 800px;
	margin-top: 40px;

}
.slick p{
color: #fff;
margin-top: -70px;


}
.slick-prev.slick-arrow{
	position: absolute;
	width:  40px;
	height: 40px;
	top: 40%;
	left: 22px;
	z-index: 3;
	background: url(../img/Top2.png) 0 15px no-repeat;
	border: none;
	font-size: 0;
}
.slick-next.slick-arrow{
	position: absolute;
	width:  40px;
	height: 40px;
	top: 52%;
	right: 22px;
	z-index: 3;
	background: url(../img/Top4.png) 0 0px no-repeat;
	border: none;
	font-size: 0;
}
.blog{
	background: #fff;
	margin-top: 35px;
	width: 800px;
	border: 1px solid #f5f5f7;
}
.blog img{
	float: left;
	margin-right: 20px;
}
.blog h5{
	text-transform: uppercase;
	font-size: 16px;
	padding-top: 10px;
	color: #424242;

}
.blog-small{
	float: right;
	margin-top: -36px;
	margin-right: 10px;
	text-decoration: none;
	color: #424242;
}
.blog-txt {
	color: #424242;
	border-top: 1px solid #eaeaeb;
	padding-top: 10px;
}
.blog-social{
	margin-top: 15px;
	float: left;

}
.blog-social .fa.fa-facebook{
	background: #000;
	border: none;
	color: #fff;

}
.blog-social a{
	padding: 11px 10px 9px 0px;
	background: #fff;
	text-transform: uppercase;
	color: #999999;
	text-decoration: none;
	margin-right: 30px;

}
.blog-social a:hover{
	color: #464646;
}
.blog-social .fa{
	border-right: 1px solid #f1f1f3;
	border-left: 1px solid #f1f1f3;
	color: #464646;
}
.slick-block{
	width: 800px;
	padding: 20px;

}
.blog-img{
	background: #fff;
	margin-top: 100px;
	border: 1px solid #f5f5f7;
}
.blog-img h4{
	margin: 0;
	padding: 10px 0px 0px 20px;
	text-transform: uppercase;
	font-size: 20px;
}
.blog-img p{
	text-transform: uppercase;
	font-size: 14px;
}
.slick-block .slick-prev.slick-arrow{
	position: absolute;
	top: -18px;
	right: 60px;
	left: auto;
	z-index: 4;
	background: url(../img/Previous.png) 0 0px no-repeat;
	border: none;
	font-size: 0;
}
.slick-block .slick-next.slick-arrow{
	position: absolute;
	top: -18px;
	right: 23px;
	z-index: 3;
	background: url(../img/Next.png) 0 0px no-repeat;
	border: none;
	font-size: 0;
}
.main-right{
	background: #fff; 
	float: right;
	width: 330px;
}
.main-right input[type="text"]{
	background: #f9f9fb;
	width: 200px;
}
.main-right .fa.fa-search{
	background: #000;
	padding: 17px 15px;
	margin-left: -23px;
}
.main-right img{
	margin-left: 40px;
	margin-top: 35px;
}
.main-right h3{
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
}
.main-right ul li{
	list-style: none;
	font-size: 15px;
	text-transform: uppercase;
	padding: 10px 0px;
	border-top: 1px solid #f7f7f7;
	margin-right: 35px;
}
.main-right ul li:last-child{
	border-bottom: 1px solid #f7f7f7;
}
.main-right ul li p{
	display: inline-block;
	float: right;
}
.main-right ul li a{
	text-decoration: none;
	color: #212121;
}
.main-right ul li a:hover{
	color: #625dc8;
}
.block1 .item1{
	margin: 10px 0px;
	padding: 10px 0px 0px 0px;
	border-top: 1px solid #f7f7f7;
}
.block1 .item1:last-child{
	border-bottom: 1px solid #f7f7f7;
}
.block1 .item1 img{
	float: left;
	margin-top: 0;
	padding-right: 5px;
}
.block1 .item1 p{
	font-size: 12px;
	text-transform: uppercase;
}
.block1 .social{
	margin-top: 20px;
	padding-left: -25px;
}
.block1 .fa{
	border: none;
	color: #000;
	font-size: 20px;
	margin-left: 10px;
}
.block1 .fa:hover{
	color: #999999;
}
.slick-right{
	margin-top: 70px;
	width: 280px;
}

.slick-right .slick-prev.slick-arrow{
	position: absolute;
	width:  40px;
	height: 40px;
	top: 44%;
	left: 70px;
	z-index: 3;
	background: url(../img/Top2.png) 0 15px no-repeat;
	border: none;
	font-size: 0;
}
.slick-right .slick-next.slick-arrow{
	position: absolute;
	width:  40px;
	height: 40px;
	top: 52%;
	right: 22px;
	z-index: 3;
	background: url(../img/Top4.png) 0 0px no-repeat;
	border: none;
	font-size: 0;
}
.fb{
	margin-top: 18px;
}
main{
	height: 2000px;
}
section{
	width: 100%;
	height: 250px;
	margin-top: 50px;
	background: #212429;
}
.box1 h4{
color: #fff;
text-transform: uppercase;
font-size: 14px;
font-weight: bold;
margin-top: 20px;
}
.box1 p{
	color: #fff;
	font-size: 12px;
}
.box1 a{
	text-decoration: none;
	color: #fff;
}
.box1 a:hover{
	color: #4758c6;
}
.sign-box{
	background: #3a3c49;
	height: 120px;
	width: 255px;
}
.sign-box img{
	margin: 50px 0px 0px 70px;
}
.box1 .fa{
	border: none;
}
footer{
background: #17191c;
height: 40px;
}
footer p{
	margin: 0;
	padding: 10px 0px;
	text-align: center;
	text-transform: uppercase;
	color: #929293;
}
