body {
    font-family: 'Arial', sans-serif;
    background: #f9f9fb;
    font-size: 14px;
}

.wrapper {
    min-width: 380px;
    max-width: 1170px;
    margin: 0 auto;
}

header {
    background: #212429;
    height: 346px;
}

.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 62px;
    height: 55px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    float: left;
}

.c-hamburger:focus {
    outline: none;
}

.c-hamburger span {
    display: block;
    position: absolute;
    top: 25px;
    left: 18px;
    right: 18px;
    height: 3px;
    background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    content: "";
}

.c-hamburger span::before {
    top: -10px;
}

.c-hamburger span::after {
    bottom: -10px;
}


.c-hamburger--rot {
    background-color: #212429;
}

.c-hamburger--rot span {
    transition: background 0s 0.3s;
}

.c-hamburger--rot span::before,
.c-hamburger--rot span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.c-hamburger--rot span::before {
    transition-property: top, transform;
}

.c-hamburger--rot span::after {
    transition-property: bottom, transform;
}

.c-hamburger--rot.is-active {
    background-color: #cb0032;
}

.c-hamburger--rot.is-active span {
    background: none;
}

.c-hamburger--rot.is-active span::before {
    top: 0;
    transform: rotate(45deg);
}

.c-hamburger--rot.is-active span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.c-hamburger--rot.is-active span::before,
.c-hamburger--rot.is-active span::after {
    transition-delay: 0s, 0.3s;
}

.logo {
    padding: 20px 0px 0px 530px;
}

.fa {
    color: #fff;
    padding: 10px 18px 10px 18px;
    border-left: 1px solid #3c3c3c;
    border-right: 1px solid #3c3c3c;
    font-size: 16px;
}

.fa:hover {
    color: #999999;
    cursor: pointer;
}

.social {
    float: right;
    margin-top: -32px;
}

.carousel.slide {
    margin-top: -290px;
    border: none;
}

.carousel-indicators {
    margin-bottom: 180px;
    padding-left: 800px;
    display: flex;
    flex-direction: column;
}

.carousel-indicators li {
    border-radius: 0%;
    margin-top: 7px;
}

.left.carousel-control {}

.carousel-indicators .active {

    margin-top: 5px;
}

.carousel-caption img {
    padding-left: 842px;
    padding-bottom:0px;
}

.carousel-caption p {
	float: left;

}
.carousel-caption h1{
	float: left;
	text-align: left;
	margin-left: -80px;

}
.top {
    padding-top: 80px;
}

.down {
    padding-top: 100px;
}
form{
	background: #ccc;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 103px;
}
form h5{
	margin: 0;
	font-size: 20px;
	color: #212121;
	margin-top: 25px;
	margin-left: 10px;

}
input{
	width: 300px;
	height: 50px;
	border: 1px solid #f3f3f3;
	margin-top: 25px;
	padding: 10px;

}
input[type="text"]{
	margin-left: 40px;
	margin-right: 20px;
}
input[type="email"]{
	margin-right: 20px;
}
input[type="submit"]{
	background: #212121;
	color: #fff;
	border: none;
	text-transform: uppercase;
	width: 250px;
}